html,body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}
body{
    overflow: hidden;
}
.nav{
    list-style: none;
    position: fixed;
    width:40em;
    right:0em;
    top:2em;
    z-index: 1000;
}
.nav li{
    float:left;
    /*width:6em;*/
    margin-right: 2em;
    height:1.5em;
    line-height:1.5em;
}
.nav li a{
    text-decoration: none;
    color: #dbdbdb;
    font-size: 1.5em;
    font-family: "Chaparral Pro";
}

.nav li a:hover{
    border-bottom:0.3em solid white;
}
#symbol{
    width:3em;
    height: 3em;
    background: url("../img/symbol.png") no-repeat;
    background-size: 100%;
    margin-left: -8em;
    margin-top: -0.8em;
}
.box{
    width:100%;
    height: 100%;
    overflow:hidden ;
}
.box h3{
    color: white;
    height:32px;
    line-height:32px;
    padding-left:20px;
    font-size:14px;
    margin: 0;
}


#home{
    background-color: #181818;
}

#hobby{
    background-color: #08233e;
}
#skill{
    background-color: #f8823c;
}
#project{
    background-color: #ea2141;
}
#contact{
    background-color: #a5448b;
}
.homeword{
    position: absolute;
    font-family: "Iskoola Pota";
    font-size: 3em;
    top:78%;
    left:5%;
    color: white;
    z-index: 5;
}
.homeword strong{
    font-family: "impact";
}


.ih-item {
    position: relative;
    left: 40%;
    top:26%;
}
.ih-item,
.ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ih-item a {
    color: #333;
}
.ih-item a:hover {
    text-decoration: none;
}
.ih-item img {
    width: 100%;
    height: 100%;
}

.ih-item.circle {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.ih-item.circle .img {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.ih-item.circle .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
    border-radius: 50%;
}
.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ih-item.circle.effect2 .img {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect2.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect2 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect2 .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-family: "Gabriola";
    font-size: 22px;
    margin: 0 10px;
    padding: 55px 0 0 0;
    height: 110px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ih-item.circle.effect2 .info p {
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-family: "JasmineUPC";
    font-size: 1.8em;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.ih-item.circle.effect2.left_to_right .info {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.ih-item.circle.effect2.left_to_right a:hover .img {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.ih-item.circle.effect2.left_to_right a:hover .info {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ih-item.circle.effect2.right_to_left .info {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
#topbanner{
    position: absolute;
    width: 0%;
    height: 5%;
    top:10%;
    background-color: #ffffff;
    opacity: 0.5;
}
#leftbanner{
    position: absolute;
    width: 5%;
    height: 0%;
    left: 10%;
    top:0;
    background-color: #ffffff;
    opacity: 0.5;
}
#inner1{
    position: absolute;
    /*width:600px;*/
    /*height:600px;*/
    left:15%;
    top:120%;
    /*background: url("../img/inner4.png") no-repeat;*/
    /*background-size: 100%;*/


}
#inner2{
    position: relative;
    /*width:500px;*/
    /*height:500px;*/
    left:8%;
    top:10%;
    /*background: url("../img/inner3.png") no-repeat;*/
    /*background-size: 100%;*/
    z-index: 5;

}
#inner3{
    position: relative;
    /*width:450px;*/
    /*height:450px;*/
    left:-7.1%;
    top:22.6%;
    /*background: url("../img/inner1.png") no-repeat;*/
    /*background-size: 100%;*/
    z-index: 10;
    -webkit-animation:myfirst 5s infinite;
}
#inner4{
    position: absolute;
    /*width:300px;*/
    /*height:300px;*/
    left:30%;
    top:145%;
    /*background: url("../img/inner2.png") no-repeat;*/
    /*background-size: 100%;*/
    z-index: 15;
    -webkit-animation:myfirst 12s infinite;

}
#inner5{
    position: absolute;
    /*width:500px;*/
    /*height:500px;*/
    left:8%;
    top:115%;
    /*background: url("../img/inner2.png") no-repeat;*/
    /*background-size: 100%;*/
    z-index: 15;
    -webkit-animation:myfirst 30s infinite;
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

#cartoon{
   position: absolute;
   width:10%;
    height: 5%;
    color: #ffffff;
    left: 10%;
    top:170%;
    font-size: 3em;
    cursor: pointer;
    z-index: 20;
}

#photography{
    position: absolute;
    width:10%;
    height: 5%;
    color: #ffffff;
    left: 14%;
    top:130%;
    font-size: 2em;
    cursor: pointer;
    z-index: 20;
}
#travel{
    position: absolute;
    width:10%;
    height: 5%;
    color: #ffffff;
    left: 38.5%;
    top:162%;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 20;
}
#info{
    position: absolute;
    /*width: 30%;*/
    /*height: 60%;*/
    /*background: url("../img/information.png");*/
    left:60%;
    top:120%;
}
#info p{
    position: absolute;
    color: #ffffff;
    font-family: "impact";
    font-size: 1.5em;
    width:73.5%;
    left: 12.5%;
    top:35%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
    #rightarrow{
        display: none;
        position: absolute;
        width: 2%;
        height:4%;
        background: url("../img/rightarrow.png") no-repeat;
        left: 88.5%;
        top:150%;
        opacity: 0.8;
        background-size: 115%;
        cursor: pointer;
}
#photoarrow{
    display: none;
    position: absolute;
    width: 2%;
    height:4%;
    background: url("../img/rightarrow.png") no-repeat;
    left: 88.5%;
    top:150%;
    opacity: 0.8;
    background-size: 115%;
    cursor: pointer;
}
#travelarrow{
    display: none;
    position: absolute;
    width: 2%;
    height:4%;
    background: url("../img/rightarrow.png") no-repeat;
    left: 88.5%;
    top:150%;
    opacity: 0.8;
    background-size: 115%;
    cursor: pointer;
}
    #cartoonshow{
        /*display: none;*/
        position: absolute;
        left: 100%;
        top:100%;
        background-color: #2980b9;
    }
    #line{
        position: absolute;
        width: 0%;
        height: 2%;
        top:80%;
        left:25%;
        background: url("../img/line.png") no-repeat;
        background-size: 100% 50%;
        z-index: 50;
    }
    .button{
        position: absolute;
        width: 1%;
        height: 2.5%;
        background: url("../img/button.png") no-repeat;
        z-index: 55;
        background-size: 100%;
    }
    #ho1{
        opacity: 0;
        color: #ffffff;
        font-family: "impact";
        font-size: 1em;
    }
    #ho1 img{
        position: absolute;
        /*width:500px;*/
        /*height: 500px;*/
        left:5%;
        top:20%;
    }


    #ho1 div:nth-child(1){
        top:79.5%;
        left: 30%;
    }
    #ho1description p{
    margin: 0;
}

    #ho1description{
    position: absolute;
        margin: 0;
    width:18%;
    left: 25%;
    top:82%;
}
    #ho2{
        opacity: 0;
        color: #ffffff;
        font-family: "impact";
        font-size: 1.2em;
    }
#ho2 div:nth-child(1){
        top:79.5%;
        left: 50%;
    }
#ho2 img{
    position: absolute;
    left:37%;
    top:20%;
}
#ho2description p{
    margin: 0;
}

#ho2description{
    position: absolute;
    margin: 0;
    width:18%;
    left: 45%;
    top:82%;
}
#ho3{
    opacity: 0;
    color: #ffffff;
    font-family: "impact";
    font-size: 1.2em;
}
#ho3 div:nth-child(1){
    top:79.5%;
    left: 70%;
}
#ho3 img{
    position: absolute;
    left:69%;
    top:20%;
}
#ho3description p{
    margin: 0;
}

#ho3description{
    position: absolute;
    margin: 0;
    width:18%;
    left: 65%;
    top:82%;
}
#photographyshow{
    /*display: none;*/
    position: absolute;
    left: 100%;
    top:0%;
    background-color: white;
    font-size:0;
}
#photographyshow img{
    opacity: 0.6;
    width: 25%;
    height:30%;
}
#photographyshow img:nth-child(1){
    width: 100%;
    height:40%;
}
#travelshow{
    position: absolute;
    left: 100%;
    top:200%;
    width: 100%;
    height: 100%;
    background-color: #27ae60;
}
#travelshow img{
    width: 100%;
    height: 80%;
    left: 0%;
    top:0%;
}
#mapgo{
    display: none;
    position: absolute;
    z-index: 60;
}
#travelshow p{
    color: #ffffff;
    font-family: "impact";
    font-size: 2.5em;
    text-align: center;

}
#skill h3{
    font-family: "impact";
    font-size: 8em;
    color: #ffffff;
    margin-top:3%;
    margin-bottom: 4%;
    margin-left: 5%;
}
#skill p{
    font-family: "impact";
    font-size: 2em;
    color: #ffffff;
    margin-top: 0;
    margin-left: 35%;

}
.img{
    /*opacity: 0;*/
    margin-left: 35%;

}
footer{
    position: fixed;
    color: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: "impact";
    font-size: 1.2em;
    background-color:#181818 ;
    bottom: 0;
    text-align: center;
    z-index: 1000;
}
#contact h3{
    width: 80%;
    font-family: "impact";
    font-size: 2em;
    color: #ffffff;
    margin-top:10%;
    margin-left: 5%;

}
#contact p{
    text-align: center;
    width: 80%;
    font-family: "impact";
    font-size: 2em;
    color: #ffffff;
    margin-top:10%;
    margin-left: 9%;
}
.email{
    color: black;
}
.email:hover{
    color: darkseagreen;
}
#project h3{
    color: #ffffff !important;
    font-size: 1.5em;
    width: 60%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}
#project h2{
    color: #000000;
    font-size: 1.5em;
    font-family: "Calibri";
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}